.neon_pool {
    color: #fff;
    padding: 100px 0;
    background-image: url(../../img/png/neon_pool_back.png);
    background-repeat: no-repeat;
    background-size: cover;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }
    .neon_pool_title {
        animation: blink 3s infinite;
    }
    .neon_pool_group {
        display: flex;
        justify-content: space-around;
        width: 100%;
        .neon_pool_item {
            width: 310px;
            height: 370px;
            padding: 20px;
            border-radius: 30px;
            background: rgba(131, 0, 255, 0.40);
            transition: all .2s ease-in-out;
        }
        .neon_pool_item:hover {
            background-color: rgba(90, 0, 175, 0.6);
        }
        .neon_pool_border {
            border: 3px solid white;
            padding: 10px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
        .neon_pool_item_title {
            font-weight: bolder;
        }
        .item1 .neon_pool_item_title {
            width: 150px;
        }
        .item3 .neon_pool_item_title {
            width: 200px;
        }
        .item3 .neon_pool_item_subtitle {
            width: 270px;
        }
    }
}