.when {
    background-image: url(../../img/png/when_back.png);
    background-repeat: no-repeat;
    background-size: cover;
    .when_slaider_img {
        position: relative;
    }
    .when_slaider_text {
        background-color: rgba(0, 0, 0, 0.70);
        position: absolute;
        width: 500px;
        height: 260px;
        bottom: 3px;
        display: flex;
        flex-direction: column;
    }
}