.when {
    padding: 50px 0;
    background-image: url(../../img/png/when_back.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .when_title {
        animation: blink 3s infinite;
    }
    .when_slaider {
        width: 500px;
        height: 300px;
        overflow: hidden;
    }
    .when_slaider_line {
        display: flex;
        width: 3500px;
        height: 300px;
        position: relative;
        transition: all .7s ease-in-out;
    }
    .when_slaider_img {
        position: relative;
        width: 500px;
        height: 300px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .when_slaider_text {
        background-color: rgba(0, 0, 0, 0.70);
        position: absolute;
        width: 80%;
        height: 85%;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .when_slaider_btn {
        display: flex;
        gap: 20px;
        button {
            transition: all .2s ease-in-out;
            cursor: pointer;
        }
        button:hover {
            transform: scale(1.2);
        }
    }
}