.menu {
  overflow: hidden;
  margin: 0 75px;

  .menu_item,
  .logo {
    float: left;
    display: block;
    color: #000000;
    padding: 15px 35px;
    text-align: center;
    transition: all .2s ease-in-out;
  }

  .menu_item:not(:first-child) {
    float: right;
  }

  .menu_item:hover, 
  .logo:hover {
    transform: scale(1.05);
  }

  .icon {
    display: none;
    padding: 15px 0;
  }

}