@keyframes blink {
    0%, 100% {
        text-shadow:
        0 0 5px #ff66ff,
        0 0 9px #ff66ff,
        0 0 20px #ff66ff;
        transform: scale(1.025); 
    }
    50% {
        text-shadow:
        0 0 1px #ff66ff,
        0 0 4px #ff66ff,
        0 0 10px #ff66ff;
        transform: scale(1);
    }
}
@keyframes vip {
    0%, 100% {
        border-color: yellow;
    }
    15% {
        border-color: orange;
    }
    30% {
        border-color: red;
    }
    45% {
        border-color: violet;
    }
    60% {
        border-color: blueviolet;
    }
    75% {
        border-color: darkblue;
    }
    90% {
        border-color: yellowgreen;
    }
}